# 지역 구분 확인용 코드
## 00. 기본 설정

In [1]:
# 데이터 분석을 위해 pandas를, 수치계산을 위해 numpy를, 시각화를 위해 seaborn을 import

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 경고 메시지는 출력되지 않게 합니다.
import warnings
warnings.filterwarnings("ignore")

In [2]:
# 주피터 노트북에서 그래프가 보이는 설정
%matplotlib notebook

In [3]:
# 한글 font 설정

import platform
import matplotlib.font_manager as fm

#matplotlib 패키지 한글 깨짐 처리 시작
#------------------------------------------------------------------------------------
# 운영체제별 한글 폰트 설정

if platform.system() == 'Darwin': # Mac 환경 폰트 설정
    plt.rc('font', family='AppleGothic')
elif platform.system() == 'Windows': # Windows 환경 폰트 설정
    plt.rc('font', family='Malgun Gothic')
    
plt.rcParams['axes.unicode_minus'] = False #한글 폰트 사용시 마이너스 폰트 깨짐 해결

In [4]:
# 글씨 선명하게 출력하는 설정

from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

<br>

## 01. 데이터 불러오기

In [5]:
df = pd.read_excel('data_prep_dd.xlsx')
df.head(3)

,YM,MCT_NM,OP_YMD,TYPE,MCT_TYPE,latitude,longitude,ADDR,RANK_CNT,RANK_AMT,...,HR_18_22_UE_CNT_RAT,HR_23_4_UE_CNT_RAT,LOCAL_UE_CNT_RAT,RC_M12_MAL_CUS_CNT_RAT,RC_M12_FME_CUS_CNT_RAT,RC_M12_AGE_UND_20_CUS_CNT_RAT,RC_M12_AGE_30_CUS_CNT_RAT,RC_M12_AGE_40_CUS_CNT_RAT,RC_M12_AGE_50_CUS_CNT_RAT,RC_M12_AGE_OVR_60_CUS_CNT_RAT
0,202301,희야네식당,20000916,T1,가정식,33.279498,126.719772,제주 서귀포시 남원읍 남원리 100-3번지,3,4,...,0.000000,0.0,0.381616,0.644,0.356,0.183,0.232,0.351,0.171,0.063
1,202301,희신이네,20060515,T1,가정식,33.263389,126.550838,제주 서귀포시 서홍동 1651-11번지,3,4,...,0.264706,0.0,0.701183,0.686,0.314,0.118,0.261,0.342,0.190,0.089
2,202301,흥미,20030814,T1,가정식,33.490006,126.495004,제주 제주시 연동 291-40번지,4,4,...,0.094340,0.0,0.736842,0.562,0.438,0.107,0.299,0.336,0.226,0.032

In [6]:
# 지역 종류
"""
서부
북부
동부
남부
산지

가파리 >> 마라도+가파도
마라도: 제주 서귀포시 대정읍 마라로101번길 46 (대정읍 가파리)
가파도: 제주특별자치도 서귀포시 대정읍 가파리 276

협재리 >> 비양도+제주도 일부 포함
비양도길 >> 비양도만
비양도: 제주 제주시 한림읍 협재리

추자면 >> 추자도와 주위 섬
추자도: 제주특별자치도 제주시 추자면 묵리

우도면 >> 우도만
우도: 제주특별자치도 제주시 우도면 연평리
"""

'\n서부\n북부\n동부\n남부\n산지\n\n가파리 >> 마라도+가파도\n마라도: 제주 서귀포시 대정읍 마라로101번길 46 (대정읍 가파리)\n가파도: 제주특별자치도 서귀포시 대정읍 가파리 276\n\n협재리 >> 비양도+제주도 일부 포함\n비양도길 >> 비양도만\n비양도: 제주 제주시 한림읍 협재리\n\n추자면 >> 추자도와 주위 섬\n추자도: 제주특별자치도 제주시 추자면 묵리\n'

In [9]:
# '가파리'만 확인
len(df[df['ADDR'].str.contains('가파리', na=False)])

86

In [16]:
# '비양도'만 출력
len(df[df['ADDR'].str.contains('비양', na=False)])

0

In [21]:
# '추자면'만 출력
len(df[df['ADDR'].str.contains('추자면', na=False)])

39

In [19]:
# '우도'만 출력
len(df[df['ADDR'].str.contains('우도면', na=False)])

445